body{
  background-color: aliceblue;
}
.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar{
  background-color: pink;
  border-radius: 10px;
}
.form-group {
  flex: 1;
  text-align: center;
}

.row{
  background-color: pink;
}

.login-signup{
  margin-left: auto;
}

.search-input{
  width: 30vw;
}

button.btn-outline-success:nth-child(2) {
  margin-left: 10px;
}

.nav-link.disabled {
  margin-right: 10px; /* Adjust the margin as needed */
}

.navbar-brand{
  font-family:Impact;
  font-weight: 100;
  font-size: xx-large;  
}

a{
  font-family: Impact;
}

h2{
  font-family: Impact;
}

.input-text{
  font-family: Impact;
}

.centered-container {
  display: block;
  margin: 2em;
}

.body-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: pink;
  min-height: 50vh;
}

.outer-body-container{
  margin-top: 2%;
}

h1{
  margin: 2%;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}




